:root {
    --folio-primary-color: #b71c1c;
    --folio-primary-light-color: #ef6557;
    --folio-primary-dark-color: #7f0000;

    --folio-secondary-color: #212121;
    --folio-secondary-light-color: #484848;
    --folio-secondary-dark-color: #000000;

    --folio-primary-text-color: #ffffff;
    --folio-secondary-text-color: #ffffff;
}

.folio-app-bar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 50px 40px 40px;
}

.folio-tabs {
    transform: translateY(-50%);
    margin-top: 50vh;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


