:root {
    --folio-primary-color: #b71c1c;
    --folio-primary-light-color: #f05545;
    --folio-primary-dark-color: #7f0000;

    --folio-secondary-color: #212121;
    --folio-secondary-light-color: #484848;
    --folio-secondary-dark-color-dark-color: #000000;

    --folio-primary-text-color: #ffffff;
    --folio-secondary-text-color: #ffffff;
}

.folio-tab {
    color: var(--folio-primary-text-color);
    background-color: var(--folio-primary-color);
    width: 300px;
    height: 100%;
    padding: 50px 40px 40px;
}
